.aba-container {
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  background: transparent;
  margin-top: 2rem;
}
.tab-content {
  flex: 1;
  padding: 1rem;
  background: white;
}
