.form-title {
  width: 100%;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  font-size: 25px;
  letter-spacing: 1.5px;
  padding: 1rem;
}

.form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}

.form-produto .form-input input {
  width: 100%;
  height: 2rem;
  border-radius: 8px;
}
