.footer-container {
  padding: 10px;
}

.footer-container h3 {
  display: flex;
  justify-content: center;
}

.acoes {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.total {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: right;
  margin-top: 10px;
}
