.comanda-container {
  width: 500px;
  height: 100vh;
  background: rgba(173, 216, 230, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: hidden;
  transition: right 0.35s ease;
}
